.titleWrapper{
    width: 98%;
    margin: 0px 1%;
}
.tableColumn1{
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    text-align: left;
    width: 30%;
    color: grey;
    padding: 10px;
}

.tableColumn2{
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    text-align: left;
    padding: 10px;
    width: 800px;
}
/* 
.lastRow{

} */