.container{
    border: 1px solid #6C757D;
    margin: 10px;
}
.date{
    background-color: #ECECEC;
    color: #6C757D;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    max-width: 100px;
    font-size: 12px;
    padding: 5px;
}
.box{
    display: flex;
    padding: 10px;
}
.task{
    margin: 0px;
    font-size: 12px;
    padding-top: 3px;
    padding-left: 10px;
}
.taskImage{
    width: 25px;
    height: 25px;
}
.doneDate{
    margin: 0px;
    font-size: 12px;
    padding-top: 3px;
    padding-left: 10px;
    color: #6C757D;
    font-size: 10px;
    font-style: italic;
    padding-top: 4px;
}
.user{
    display: flex;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-left: 8px solid #00AD63;
    padding: 10px;
}
.user > p{
    font-weight: 600;
    font-size: 12px;
    padding-left: 10px;
    padding-top: 3px;
    margin: 0px;
    color: #00AD63;
}
.userImg{
    width: 25px;
    height: 25px;
}
.green{
    width: 10px;
    background: #00AD63;
}